version: "3.9"

services:
  backend:
    build:
      context: ./backend
    env_file:
      - .env
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend/uploads:/app/uploads
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db
  

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE: /api
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo_data:
