version: "3.9"

services:
  backend:
    build:
      context: ./backend
    env_file:
      - .env
    command: python manage.py runserver 0.0.0.0:8000
    expose:
      - "8000"
    volumes:
      - ./backend/uploads:/app/uploads
    depends_on:
      - mongo

  mongo:
    image: mongo:4.4
    volumes:
      - mongo_data:/data/db
  

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE: /api
    expose:
      - "5173"
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    depends_on:
      - frontend
      - backend
    ports:
      - "8080:80"
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend/uploads:/app/uploads:ro
volumes:
  mongo_data:
